<md-dialog aria-label="Photo Details dialog" flex="{{dialog.photoDialogFlexWidth}}" id="photo-dialog-box">

  <md-toolbar>

    <div class="md-toolbar-tools">
      <span flex><h2>{{dialog.photo.title}}</h2></span>
      <md-button class="md-icon-button" aria-label="Close" ng-click="cancel()">
        <i class="fa fa-times fa-2x"></i>
      </md-button>
    </div>

  </md-toolbar>

  <md-dialog-content layout="row" layout-align="center start">

    <div id="div-photo" layout="column" layout-align="center start" flex="60">
      <img src={{dialog.photo.url_m}} width>

      <p id="date-taken">Date Taken: {{dialog.photo.datetaken}}</p>

      <!-- COMMENTS BOX -->
      <md-whiteframe class="md-whiteframe-4dp" id="comments-container" layout layout-align="center center">
        <span ng-hide="isSavedPhoto()"><ng-md-icon icon="comment" size="56"></ng-md-icon> Save this amazing photo to add comments!</span>

        <md-content class="photo-comments-private" ng-show="isSavedPhoto()">
          <div ng-repeat="comment in dialog.photo.comments">
            <p>{{comment.text}}{{comment.created_at}}{{comment.author}}</p>
            <md-button class="md-icon-button" aria-label="Edit" ng-show="isAuthor()" ng-click="comment.edit()">
              <!-- IF YOU CLICK ICON EDIT/DELETE FORM SHOWS IN COMMENT BOX -->
              <ng-md-icon icon="create"></ng-md-icon>
              <md-tooltip md-direction="bottom">Edit Comment</md-tooltip>
            </md-button>
          </div>

          <md-input-container>
            <!--  <md-input-container  md-no-float class="md-block" -->
            <!--   <md-icon>
               <ng-md-icon icon="add_box"></ng-md-icon>
              </md-icon> -->
            <md-input ng-model="photo.newComment" type="text" placeholder="chase scene possibility"
                      ng-sumbit="addComment(photo.newComment)">
              <!--          <md-button class="md-icon-button" aria-label="Submit" ng-click="addComment(photo.newComment)">
                          <md-tooltip md-direction="top">Submit Comment</md-tooltip>
                        </md-button> -->
          </md-input-container>
        </md-content>

      </md-whiteframe>
    </div>

    <div id="div-info" layout-align="center start" flex="40">
      <div id="smallmapdiv">
        <ng-map
          id="photomap"
          style="height:350px;"
          zoom="10"
          center="{{dialog.photo.latitude}}, {{dialog.photo.longitude}}">

          <marker
            position="{{dialog.photo.latitude}}, {{dialog.photo.longitude}}">
          </marker>

          <directions
            draggable="true"
            panel="directions-panel"
            map-type-id='TERRAIN'
            travel-mode="DRIVING"
            origin="{{$root.origin}}"
            destination="{{dialog.photo.latitude}}, {{dialog.photo.longitude}}">
          </directions>
        </ng-map>
      </div>

      <div ng-if="directions">
        For Elevation
      </div>

      <md-input-container>
        <label>Direction From</label>
        <input id="photo-dialog-places-textbox"
               places-auto-complete
               ng-model="$root.directions.place"
               on-place-changed="dialog.placeChanged()"/>
      </md-input-container>

      <md-button id="save-btn" class="md-primary md-raised">
        Save
      </md-button>
    </div>

  </md-dialog-content>

</md-dialog>

