/*#resultlogo {
  font-size: 3em;
  color: salmon;
}

#map {
   Set a size for our map container, the Google Map will take up 100% of this container
/*    width: 750px;
    height: 500px;
}

#results-sidebar-left {
  color: transparent;
}
*/
/*=========================================
            BACKGROUND MAP
=========================================*/

#map {
  height: 100%;
  width: 100%;
}

#results-sidebar-left {
  height: calc(100vh - 64px);
  background-color: rgba(89, 89, 89, 0.4);
}

/*=========================================
            SEARCH COMPONENTS
=========================================*/

div.search-components {
}

#places-textbox::-webkit-input-placeholder { color:transparent; }
#places-textbox:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
#places-textbox:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
#places-textbox:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

/*=========================================
            LAT/LON/RADIUS
=========================================*/
md-input-container #latitude.md-input,
md-input-container #longtitude.md-input,
md-input-container #radius.md-input {
  width: 90px;
}

/*=========================================
            DATE RANGE
=========================================*/

.md-datepicker-input-container {
  position: relative;
  padding-bottom: 0px;
  border-bottom-width: 0px;
  border-bottom-style: none;
  display: inline-block;
  width: auto;
  margin-left: 0px;
}

.md-datepicker-button.md-button.md-icon-button,
.md-datepicker-triangle-button.md-button.md-icon-button {
  margin: 0px;
  height: 24px;
  min-width: 0;
  line-height: 24px;
  padding-left: 0;
  padding-right: 0;
  width: 24px;
  border-radius: 50%;
  vertical-align: middle;
}

.md-datepicker-triangle-button.md-button.md-icon-button {
  height: 100%;
  width: 36px;
  position: absolute;
}

input.md-datepicker-input {
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: none;
  background: transparent;
  min-width: 80px;
  max-width: 80px;
}

div.datepicker {
  margin-left: 20px;
  margin-bottom: 20px;
}

md-datepicker.md-default-theme,
md-datepicker {
  background-color: transparent;
}

/*=========================================
            	PHOTOS
=========================================*/

div.thumbnail {
  text-align: center;
}

p.thumbnail-description {
  text-align: left;
  font-size: 12px;
  margin: 20px;
}


