
/*=========================================
            BACKGROUND MAP
=========================================*/

#map {
  height: 100%;
  width: 100%;
}

#results-sidebar-left {
  height: calc(100vh - 64px);
  background-color: rgb(255, 255, 255);
}

/*=========================================
            SEARCH COMPONENTS
=========================================*/

input#results-search-bar,
input#radius {
	margin-left: 15px;
}

#radius-label {
  margin-left: 4px;
}

md-slider {
  margin-left: 15px;
  margin-right: 23px;
}

#places-textbox::-webkit-input-placeholder { color:transparent; }
#places-textbox:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
#places-textbox:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
#places-textbox:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

md-checkbox {
    box-sizing: border-box;
    display: block;
    margin: 8px;
    margin-left: 15px;
    margin-right: 15px;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 18px;
    padding-right: 0;
    position: relative;
    line-height: 26px;
    min-width: 18px;
    min-height: 18px;
}

md-input-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2px;
    padding-bottom: 15px;
}

/*=========================================
            DATE RANGE
=========================================*/

.md-datepicker-input-container {
  position: relative;
  padding-bottom: 0px;
  border-bottom-width: 0px;
  border-bottom-style: none;
  display: inline-block;
  width: auto;
  margin-left: 0px;
}

.md-datepicker-button.md-button.md-icon-button,
.md-datepicker-triangle-button.md-button.md-icon-button {
  margin: 0px;
  height: 24px;
  min-width: 0;
  line-height: 24px;
  padding-left: 0;
  padding-right: 0;
  width: 24px;
  border-radius: 50%;
  vertical-align: middle;
}

.md-datepicker-triangle-button.md-button.md-icon-button {
  height: 100%;
  width: 36px;
  position: absolute;
}

input.md-datepicker-input {
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  outline: none;
  background: transparent;
  min-width: 80px;
  max-width: 80px;
  margin-left: 3px;
  margin-right: 5px;
}

div.datepicker {
  margin-left: 15px;
  margin-bottom: 20px;
}

md-datepicker.md-default-theme,
md-datepicker {
  background-color: transparent;
}

.md-datepicker-calendar-pane {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    border-width: 1px;
    border-style: solid;
    background: rgba(255, 255, 255, 1);
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    transition: -webkit-transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#show-advanced-button {
  color: rgb(255,179,0);
  cursor: pointer;
  margin-bottom: 10px;
}

/*=========================================
            CALENDAR STYLES
=========================================*/

.md-datepicker-calendar, .md-datepicker-input-mask-opaque {
    background: rgb(255,255,255);
}


.md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator,
.md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
    background: rgb(33,150,243);
    color: rgb(255,255,255);
    border-color: transparent;
}

.md-calendar-date-selection-indicator:hover {
    background: rgb(224,224,224);
}

.md-calendar-day-header{
    background: rgb(224,224,224);
    color: rgba(0,0,0,0.87);
}

.md-calendar-date-disabled, .md-calendar-month-label-disabled {
    color: rgba(0,0,0,0.26);
}

/*=========================================
            	PHOTOS
=========================================*/

div.thumbnail {
  text-align: center;
  margin: 0 10px 0 10px;
}

p.thumbnail-description {
  margin: 10px;
}

img.results-photo {
  cursor: pointer;
}

