<navbar></navbar>
<div class="mapContainer" layout="row" ng-controller="ProjectsController as projects">
    <!-- SIDE NAVIGATION -->
    <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2" id="results-sidebar-left" flex>
        <div class="search-components">
            <div layout="row">
                <div class="location" flex>
                    <md-input-container md-no-float class="md-block">
                        <label>Radius</label>
                        <md-select ng-model="results.search.radius">
                            <md-option>1</md-option>
                            <md-option>2</md-option>
                            <md-option>3</md-option>
                            <md-option>5</md-option>
                            <md-option>10</md-option>
                            <md-option>15</md-option>
                            <md-option>20</md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            <!-- DATE RANGE to search for season-->
            <div id="container"></div>
        </div>
        <!-- RESULTS -->
        <!-- RENDERS PHOTOS FROM MAIN PAGE SEARCH -->
        <!--   <div id="photos" layout="column" layout-align="center" ng-controller="PhotoDialogCtrl">
      <div class="thumbnail" ng-repeat="photo in $root.photos" photo="photo" flex>
        <p>{{photo['title']}}</p>
        <img src={{photo['url_s']}} ng-click="showDialog($event, photo)">
      </div>
    </div> -->
        <!--   <div js-tree="treeConfig" ng-model="projects.projects" tree="projectTree"></div> -->
        <br/>
        <div class="modal-footer">
            <md-button ng-click="projects.getProjects()" type="submit" class="md-primary md-raised login-background">Get Projects</md-button>
        </div>
        <br/>
        <div layout="row">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="glyphicon glyphicon-tree-conifer"></i> My Projects</div>
                    <div class="panel-body">
                        <div js-tree="projects.treeConfig" should-apply="projects.applyModelChanges()" ng-model="projects.treeData" tree="projects.treeInstance" tree-events="ready:projects.readyCB;create_node:projects.createCB"></div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div div layout="column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-plus"></i> Add Node</div>
                <div class="panel-body">
                    <form class="form-horizontal" novalidate name="newNodeForm" role="form">
                        <div class="form-group">
                            <label for="addNode" flex=33 class="control-label">Node Text:</label>
                            <div flex=33 ng-class="{ 'has-error' : newNodeForm.addNode.$invalid}">
                                <input type="text" class="form-control" id="addNode" ng-model="projects.newNode.text" name="addNode" placeholder="Node Text" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nodeParent" flex=33 class="control-label">Node Parent:</label>
                            <div flex=33 ng-class="{ 'has-error' : newNodeForm.nodeParent.$invalid}">
                                <select class="form-control" id="nodeParent" name="nodeParent" ng-model="projects.newNode.parent" required>
                                    <option ng-repeat="node in projects.treeData" value="{{node.id}}">{{node.text}}[{{node.id}}]</option>
                                </select>
                            </div>
                        </div>
                        <div class="column">
                            <div flex=33>
                                <div class="pull-right">
                                    <button type="button" ng-disabled="newNodeForm.$invalid" ng-click="projects.addNewNode()" class="btn btn-success">Add Node</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
       <!--      <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-edit"></i> Change Node Type</div>
                <div class="panel-body">
                    <form class="form-horizontal" novalidate name="nodeTypeForm" role="form">
                        <div class="form-group">
                            <label for="nodeParent" flex=33 class="control-label">Node:</label>
                            <div flex=33 ng-class="{ 'has-error' : nodeTypeForm.node.$invalid}">
                                <select class="form-control" id="node" name="node" ng-model="projects.selectedNode" required>
                                    <option ng-repeat="node in projects.treeData" value="{{node.id}}">{{node.text}}[{{node.id}}]</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nodeParent" flex=33 class=" control-label">Type:</label>
                            <div flex=33 ng-class="{ 'has-error' : nodeTypeForm.newType.$invalid}">
                                <select class="form-control" id="newType" name="newType" ng-model="projects.newType" required>
                                    <option value="default">Default</option>
                                    <option value="star">Star</option>
                                    <option value="cloud">Cloud</option>
                                </select>
                            </div>
                        </div>
                        <div class="column">
                            <div flex=33>
                                <div class="pull-right">
                                    <button type="button" ng-disabled="nodeTypeForm.$invalid" ng-click="projects.setNodeType()" class="btn btn-success">Set Type</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div> -->
        </div>
</div>
</md-sidenav>
<!-- <md-content flex id="map">
    <ng-map
      style="display:block;height:calc(100vh - 64px)"
      styles="{{results.mapStyle}}"
      scrollwheel="true"
      zoom-to-include-markers="true"
      center="current-location"
      geo-fallback-center="37.09024, -95.71289100000001">
    </ng-map>

  </md-content> -->
</div>
<script>
//Pull the data from the server
//Loop over it
//Display 
'use strict';
$(function() {
    $('#container').jstree({
        'core': {
            'data': [{
                "text": "Root node",
                "children": [{
                    "text": "Child node 1",
                    "icon": "glyphicon glyphicon-flash"
                }, {
                    "text": "Child node 2",
                    "icon": "glyphicon glyphicon-flash"
                }]
            }, {
                "text": "Root node 2",
                "children": [{
                    "text": "Child node 1"
                }, {
                    "text": "Child node 2"
                }]
            }]
        }
    });
});
</script>
