@import "../bower_components/font-awesome/css/font-awesome.css"

//
// Font Awesome Fonts
//

@font-face
  font-family: 'FontAwesome'
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0')
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal
  font-style: normal

//
// App-wide Styles
//

body
  font-variant small-caps

.browserupgrade
  background #ccc
  color #000
  margin 0.2em 0
  padding 0.2em 0


//Ensure the dialog is fully displayed.
.md-dialog, .md-transition-in
  max-height: 100%

// Responsive: Portrait tablets and up
@media screen and (min-width: 768px)
  .container
    max-width 730px

// Login Button: Added color
.loginButton
  border 5px
  padding 3px
  color #EEEFB9
  text-decoration none

.loginContainer
  border-width: 2px
  border-style: solid
  margin-right 30px
  padding 3px
  border-color #EEEFB9

.navbar-text
  padding 6px

.md-button.md-icon-button
  width 60px

#toolbar, .searchBG
  background-color rgba(0,0,0,0.6)

#searchLabel
  font-size 30px

.login-background
  text-transform uppercase
  align-items center
  text-align center

md-toolbar:not(.md-menu-toolbar), .md-button.md-raised:not([disabled])
  background-color rgb(36, 46, 56)

#cta
  font-family 'Limelight', cursive
  margin-left 10px
  margin-right 10px

.search-text
  line-height 55px

//md-toolbar.md-default-theme:not(.md-menu-toolbar)
//  color rgb(238, 239, 185)
// Component styles are injected through grunt
// injector
@import 'admin/admin.styl';
@import 'main/main.styl';
@import '../components/footer/footer.styl';
@import '../components/oauth-buttons/oauth-buttons.styl';
// endinjector
