<md-toolbar layout="row" layout-align="space-between center" id="toolbar">
    <!--The left side-->
  <i class="fa fa-camera-retro fa-2x fa-border"></i>
  <h2 class="md-toolbar-tools">
    <a href="/" class="navbar-brand">Scout.io</a>
  </h2>

  <!--The right side-->
  <span flex></span>
    <md-button ng-hide="nav.isLoggedIn()" ui-sref-active="active" ui-sref="signup">Sign up</md-button>
    <md-button ng-hide="nav.isLoggedIn()" ui-sref-active="active" ui-sref="login">Login</md-button>
    
    <md-button class="md-icon-button" aria-label="Profile" ng-show="nav.isLoggedIn()" ui-sref-active="active" ui-sref="settings">
      <i class="fa fa-user fa-2x"></i>
    </md-button>

    <span ng-show="nav.isLoggedIn()" class="navbar-text">{{ nav.getCurrentUser().name }}</span>

    <md-button class="md-icon-button" aria-label="Settings" ng-show="nav.isLoggedIn() && nav.isAdmin()" ui-sref-active="active" ui-sref="settings">
      <i class="fa fa-cog fa-2x"></i>
    </md-button>

    <!-- project icon button TODO add ui-sref -->
    <md-button class="md-icon-button" aria-label="Projects" ng-show="nav.isLoggedIn()" ui-sref-active="active">
      <i class="fa fa-archive fa-2x"></i>
    </md-button>
    <!-- end project icon button -->

    <md-button class="md-icon-button" aria-label="Signout" ng-show="nav.isLoggedIn()" ui-sref="logout">
      <i class="fa fa-sign-out fa-2x"></i>
    </md-button>

</md-toolbar>
