#toolbar .md-button.md-icon-button {
  border-radius: 0px;
  margin-bottom: -8px;
}

.md-button {
	color: rgba(89, 89, 89, 1);
	background-color: rgba(40, 20, 122, 1);
}

.md-icon-button {
	background-color: transparent;
  margin-bottom: -10px;
}

.navbar-brand {
	font-family: 'Limelight', cursive;
	font-size: 52px;
	color: rgb(0, 0, 0);
	text-shadow:  -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbar-text {
	font-size: 28px;
	margin-left: 0px;
  width: 500px;
  text-align: right;
  margin-right: 50px;
}

.fa-camera-retro {
	margin-left: 22px;
	/*color: rgb(238, 239, 185);*/
	background-color: rgba(0,0,0,0.87);
	padding: 2px;
	border: transparent;
}

/*#toolbar .md-button:hover {*/
  /*top: -10px*/
/*}*/
