<md-card id="save-card">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Save This Image</span>
    </md-card-title-text>
  </md-card-title>

  <form name='saveForm' id="saveForm" ng-cloak>
    <md-select placeholder="Save to folder"
               ng-model="save.folderId"
               ng-change="folderChanged()">
      <md-option ng-value="f._id"
                 ng-repeat="f in folders">{{f.name}}</md-option>
    </md-select>

    <md-input-container class="md-block">
      <label>Add Comments</label>
      <textarea ng-model="save.comment" columns="1" rows="3"></textarea>
    </md-input-container>

      <span ng-if="saved" id="saved-message">Photo Saved</span>
      <md-button id="save-btn" class="md-primary md-raised" ng-click="saveLink(dialog.photo)">
        Save
      </md-button>
  </form>
</md-card>
