/*=========================================
                IMAGES
=========================================*/

#img2 {
  background-image: url("/../assets/nevada.jpeg");
  width:auto;
  height:705px;
}

.imgContainer {
  width:auto;
  height:500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


/*=========================================
            	SEARCH BAR
=========================================*/

#splash-search-text {
  height: auto;
  font-size: 45px;
  color: #FFA000;
  text-align: center;
  line-height: 55px;
}

.splash-search-label {
  color:#FFA000;
  margin-left: 26px;
}

.splash-input {
  height: auto;
  margin-top: 200px;
  color: #FFA000;
}

.splash-search {
  color: #FFA000;
}

.splash-content-text {
  padding: 0 60px 0 60px;
  font-size: 28px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: transparent;
}

.searchBG {
  background-color: transparent;
}


/*=========================================
            	CONTENT AREA
=========================================*/

span#scout-io {
  font-family: 'Limelight', cursive;
}

span.title {
  font-size: 50px;
  align: center;
  font-family: 'Lobster Two', cursive;
  font-weight: 700;
}

hr.title-hr {
  width: 290px;
  border: 0;
  height: 1px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

p.sub-title {
  margin: 0px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 25px;
}

div#purpose {
  height: 305px;
}

div#features {
  height: 845px;
}

div#team {
  height: 600px;
}

div.content-area-white {
  width: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
}

div.content-area-grey {
  width: auto;
  text-align: center;
  background-color: rgba(250, 250, 250, 1);
}

div.profile {
  width: 275px;
  height: 420px;
  background-color: rgba(250, 250, 250, 1);
}

div.container {
  width: auto;
  height: 266px;
}

div.profile-img-container {
  width: auto;
  height: 206px;
  text-align: center;
}

img.profile-img {
  max-width: 100%;
  max-height: 100%;
  margin: 30px;
}

p.profile-name,
p.profile-role {
  margin: 0px;
}

p.profile-name {
  font-variant: small-caps;
  font-weight: 700;
  font-size: 20px;
}

p.profile-role {
  font-size: 16px;
  font-weight: 300;
}

p.md-headline {
  font-weight: 700;
  font-size: 32px;
  margin: 15px 0px 15px 0px;
}

p.card-text {
  font-size: 22px;
  margin-left: 5px;
  margin-right: 5px;
}

.first-icon {
  margin-right: 30px;
}

md-content {
  font-family: "Lato", sans-serif;
}

md-card.splash-card {
  width: 365px;
  height: 410px;
}


/*=========================================
               	Dialog 1
=========================================*/
.dialogdemoBasicUsage #popupContainer {
  position: relative; 
}

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; 
}

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; 
}

