/*=========================================
                IMAGES
=========================================*/

#img0 {
	background-image: url("/../assets/fallforest.jpeg");
}

#img1 {
	background-image: url("/../assets/camera-keys.jpg");
}

#img2 {
	background-image: url("/../assets/lake.jpeg");
}

#img3 {
	background-image: url("/../assets/organized2.jpeg");
}

.imgContainer {
	width:auto;
	height:600px;
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/*=========================================
            	SEARCH BAR
=========================================*/

#splash-search-text {
	height: auto;
	font-size: 3em;
	color: #FFA000;
	text-align: center;
}

#search-label {
	vertical-align: middle;
	text-align: center;
}

.splash-input {
	height: auto;
	margin-top: 250px;
	color: #FFA000;
}

.splash-search {
	color: #FFA000;
  padding-left: 80px;
}

.splash-content-text {
  padding: 0 60px 0 60px;
  font-size: 20px;
}


/*=========================================
            	CONTENT AREA
=========================================*/

span.title {
	font-size: 40px;
	align: center;
}

section {
	width: auto;
	height: 350px;
	text-align: center;
	background-color: white;
}

body {
	background-color: grey;
}

